h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 17px; }

h3 {
  font-family: "Merriweather";
  font-size: 20px;
  line-height: 29px;
  font-weight: 00;
  text-transform: uppercase;
  letter-spacing: 0.06em; }

h4 {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 18px;
  color: #5e5f5f;
  line-height: 28px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 17px; }

p {
  font-family: "Raleway";
  font-size: 16px;
  line-height: 28px;
  font-weight: 400; }

.main-header {
  padding-top: 64px;
  background-color: #eff0f2;
  text-align: center; }
  .main-header .main-menu-wrap {
    padding-bottom: 190px; }
    @media only screen and (max-width: 767px) {
      .main-header .main-menu-wrap {
        padding-bottom: 100px; } }
    .main-header .main-menu-wrap .logo {
      float: left;
      display: inline-block; }
    .main-header .main-menu-wrap .hamburger {
      display: inline-block;
      float: right;
      background-color: #606061;
      width: 30px;
      height: 4px;
      margin-top: 10px; }
      .main-header .main-menu-wrap .hamburger:before {
        display: block;
        content: "";
        width: 30px;
        height: 4px;
        margin-top: 9px;
        background-color: #606061; }
      .main-header .main-menu-wrap .hamburger:after {
        display: block;
        content: "";
        width: 30px;
        height: 4px;
        margin-top: 4px;
        background-color: #606061; }
  .main-header h1 {
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #505050;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    letter-spacing: 0.06em; }
    .main-header h1 span {
      background-color: #b3f3ef; }
    @media only screen and (max-width: 767px) {
      .main-header h1 {
        font-size: 36px; } }
  .main-header button {
    text-transform: uppercase;
    font-family: "Montserrat";
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding: 11px 48px;
    background-color: #eff0f2;
    border-radius: 2px;
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    margin-top: 135px;
    margin-bottom: 196px; }
    @media only screen and (max-width: 767px) {
      .main-header button {
        margin-top: 60px; } }
  .main-header .header-bg-img {
    position: relative; }
    .main-header .header-bg-img img {
      position: absolute;
      right: 50px;
      top: -220px; }
      @media only screen and (max-width: 767px) {
        .main-header .header-bg-img img {
          top: -150px; } }

.about-us {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #f8fafa; }
  @media only screen and (max-width: 992px) {
    .about-us {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .about-us h4 {
    padding-bottom: 120px; }
    @media only screen and (max-width: 992px) {
      .about-us h4 {
        padding-bottom: 45px; } }
  .about-us .about-us-slider {
    position: relative;
    text-align: center;
    overflow: hidden; }
    .about-us .about-us-slider .slider-bg {
      position: absolute;
      background-color: #eff0f2;
      width: 480px;
      height: 412px;
      top: 35px;
      left: 50%;
      margin-left: -240px;
      z-index: 1; }
    .about-us .about-us-slider img {
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      z-index: 2;
      position: relative; }
  .about-us .input-wrap {
    text-align: center;
    padding-top: 40px; }
    .about-us .input-wrap input[type="radio"] {
      display: none; }
      .about-us .input-wrap input[type="radio"] + .about-us-label:before {
        content: '';
        display: inline-block;
        border-radius: 3px;
        background-color: #d0d0d0;
        width: 10px;
        height: 10px;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
        margin: 2px;
        cursor: pointer; }
      .about-us .input-wrap input[type="radio"]:checked + .about-us-label:before {
        background-color: #71f6eb; }
  .about-us h3 {
    margin: 0;
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase; }
    @media only screen and (max-width: 992px) {
      .about-us h3 {
        padding-top: 50px;
        text-align: center; } }
  @media only screen and (max-width: 992px) {
    .about-us p {
      text-align: center; } }

.featured-works {
  padding-top: 120px;
  padding-bottom: 115px; }
  @media only screen and (max-width: 992px) {
    .featured-works {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .featured-works .img-wrap {
    padding-top: 100px;
    text-align: center; }
    .featured-works .img-wrap img {
      margin-right: 15px;
      padding-bottom: 15px; }
      .featured-works .img-wrap img:nth-child(3n) {
        margin-right: 0; }
      @media only screen and (max-width: 1200px) {
        .featured-works .img-wrap img {
          width: 32%; } }
      @media only screen and (max-width: 992px) {
        .featured-works .img-wrap img {
          width: 40%; }
          .featured-works .img-wrap img:nth-child(3) {
            margin-right: 15px; }
          .featured-works .img-wrap img:nth-child(2), .featured-works .img-wrap img:nth-child(4) {
            margin-right: 0; } }
      @media only screen and (max-width: 767px) {
        .featured-works .img-wrap img {
          width: 45%;
          margin-right: 10px;
          padding-bottom: 10px; }
          .featured-works .img-wrap img:nth-child(3) {
            margin-right: 10px; }
          .featured-works .img-wrap img:nth-child(2), .featured-works .img-wrap img:nth-child(4) {
            margin-right: 0; } }
    @media only screen and (max-width: 992px) {
      .featured-works .img-wrap {
        padding-top: 50px; } }

.our-services {
  background-color: #f9fbfb;
  padding-top: 115px;
  padding-bottom: 115px; }
  @media only screen and (max-width: 992px) {
    .our-services {
      padding-top: 65px;
      padding-bottom: 65px; } }
  .our-services .services-wrap {
    padding-top: 115px; }
    @media only screen and (max-width: 992px) {
      .our-services .services-wrap {
        display: none; } }
    .our-services .services-wrap .service {
      background-color: #4e4e4e;
      color: #fff;
      margin-bottom: 15px;
      position: relative; }
      .our-services .services-wrap .service .service-wrap {
        width: 100%;
        height: 100%;
        padding: 140px 115px 20px 65px;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        .our-services .services-wrap .service .service-wrap:hover {
          background: #71f5ea;
          padding-top: 45px;
          color: black; }
          @media only screen and (max-width: 1200px) {
            .our-services .services-wrap .service .service-wrap:hover {
              padding-top: 25px; } }
          .our-services .services-wrap .service .service-wrap:hover .dots {
            display: none; }
          .our-services .services-wrap .service .service-wrap:hover .hidden-text {
            opacity: 1; }
          .our-services .services-wrap .service .service-wrap:hover .more-wrap .more {
            opacity: 0; }
          .our-services .services-wrap .service .service-wrap:hover .more-wrap .arrow {
            -webkit-transform: translateX(-135px) rotate(135deg);
                    transform: translateX(-135px) rotate(135deg);
            background-color: #44948d; }
            .our-services .services-wrap .service .service-wrap:hover .more-wrap .arrow:before, .our-services .services-wrap .service .service-wrap:hover .more-wrap .arrow:after {
              width: 10px;
              background-color: #44948d; }
            .our-services .services-wrap .service .service-wrap:hover .more-wrap .arrow:before {
              -webkit-transform: rotate(90deg) translateY(-5px) translateX(6px);
                      transform: rotate(90deg) translateY(-5px) translateX(6px); }
            .our-services .services-wrap .service .service-wrap:hover .more-wrap .arrow:after {
              -webkit-transform: rotate(-90deg) translateY(5px) translateX(7px);
                      transform: rotate(-90deg) translateY(5px) translateX(7px); }
      .our-services .services-wrap .service-1 {
        background: url(../img/service-1.jpg) no-repeat center;
        height: 422px; }
      .our-services .services-wrap .service-2 {
        background: url(../img/service-2.jpg) no-repeat center;
        height: 422px;
        width: 474px;
        left: -15px; }
        @media only screen and (max-width: 1200px) {
          .our-services .services-wrap .service-2 {
            width: 100%; } }
        .our-services .services-wrap .service-2 .service-wrap {
          width: 474px;
          padding-right: 60px; }
          @media only screen and (max-width: 1200px) {
            .our-services .services-wrap .service-2 .service-wrap {
              width: 100%; } }
      .our-services .services-wrap .service-3 {
        background: url(../img/service-3.jpg) no-repeat center;
        height: 371px; }
      .our-services .services-wrap .service-4 {
        background: url(../img/service-4.jpg) no-repeat center;
        height: 371px;
        width: 474px;
        left: -15px; }
        @media only screen and (max-width: 1200px) {
          .our-services .services-wrap .service-4 {
            width: 100%; } }
        .our-services .services-wrap .service-4 .service-wrap {
          width: 474px;
          padding-right: 60px; }
          @media only screen and (max-width: 1200px) {
            .our-services .services-wrap .service-4 .service-wrap {
              width: 100%; } }
      .our-services .services-wrap .service-5 {
        background: url(../img/service-5.jpg) no-repeat center;
        height: 370px;
        width: 474px; }
        @media only screen and (max-width: 1200px) {
          .our-services .services-wrap .service-5 {
            width: 100%; } }
        .our-services .services-wrap .service-5 .service-wrap {
          width: 474px;
          padding-right: 60px; }
          @media only screen and (max-width: 1200px) {
            .our-services .services-wrap .service-5 .service-wrap {
              width: 100%; } }
      .our-services .services-wrap .service-6 {
        background: url(../img/service-6.jpg) no-repeat center;
        height: 370px;
        width: 651px; }
        @media only screen and (max-width: 1200px) {
          .our-services .services-wrap .service-6 {
            width: 100%;
            left: -15px; } }
      .our-services .services-wrap .service p {
        line-height: 25px;
        max-height: 210px;
        overflow: hidden; }
        @media only screen and (max-width: 1200px) {
          .our-services .services-wrap .service p {
            line-height: 23px;
            max-height: 270px; } }
        .our-services .services-wrap .service p .hidden-text {
          opacity: 0; }
      .our-services .services-wrap .service .more-wrap {
        position: absolute;
        bottom: 50px; }
        @media only screen and (max-width: 1200px) {
          .our-services .services-wrap .service .more-wrap {
            bottom: 25px; } }
        .our-services .services-wrap .service .more-wrap .more {
          display: inline-block;
          margin: 0;
          font-size: 18px;
          text-transform: uppercase; }
        .our-services .services-wrap .service .more-wrap .arrow {
          margin-left: 20px;
          bottom: 11px;
          display: inline-block;
          position: relative;
          cursor: pointer;
          width: 20px;
          height: 2px;
          background-color: rgba(255, 255, 255, 0.78);
          -webkit-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
          .our-services .services-wrap .service .more-wrap .arrow:before {
            content: '';
            display: block;
            position: absolute;
            width: 7px;
            height: 2px;
            top: -10px;
            background-color: rgba(255, 255, 255, 0.78);
            -webkit-transform: translateY(7px) translateX(13px) rotate(45deg);
                    transform: translateY(7px) translateX(13px) rotate(45deg); }
          .our-services .services-wrap .service .more-wrap .arrow:after {
            content: '';
            display: block;
            position: absolute;
            width: 7px;
            height: 2px;
            bottom: -10px;
            background-color: rgba(255, 255, 255, 0.78);
            -webkit-transform: translateY(-7px) translateX(13px) rotate(-45deg);
                    transform: translateY(-7px) translateX(13px) rotate(-45deg); }
  .our-services .services-wrap-sm {
    padding-top: 40px;
    text-align: center; }
    @media only screen and (min-width: 992px) {
      .our-services .services-wrap-sm {
        display: none; } }
    .our-services .services-wrap-sm [class^="service-wrap"] {
      height: 370px;
      margin-bottom: 30px;
      color: #fff;
      padding: 20px;
      max-width: 474px;
      display: inline-block; }
      @media only screen and (max-width: 480px) {
        .our-services .services-wrap-sm [class^="service-wrap"] {
          padding: 10px; } }
      .our-services .services-wrap-sm [class^="service-wrap"] h3 {
        margin-top: 5px;
        margin-bottom: 15px; }
      .our-services .services-wrap-sm [class^="service-wrap"] p {
        margin: 0; }
    .our-services .services-wrap-sm .service-wrap-1 {
      background: url(../img/service-1.jpg) no-repeat top center; }
    .our-services .services-wrap-sm .service-wrap-2 {
      background: url(../img/service-2.jpg) no-repeat top center; }
    .our-services .services-wrap-sm .service-wrap-3 {
      background: url(../img/service-3.jpg) no-repeat top center; }
    .our-services .services-wrap-sm .service-wrap-4 {
      background: url(../img/service-4.jpg) no-repeat top center; }
    .our-services .services-wrap-sm .service-wrap-5 {
      background: url(../img/service-5.jpg) no-repeat top center; }
    .our-services .services-wrap-sm .service-wrap-6 {
      background: url(../img/service-6.jpg) no-repeat top center; }

.our-team {
  padding-top: 115px;
  padding-bottom: 100px; }
  @media only screen and (max-width: 992px) {
    .our-team {
      padding-top: 65px;
      padding-bottom: 65px; } }
  .our-team .team-wrap {
    text-align: center;
    padding-top: 115px; }
    @media only screen and (max-width: 767px) {
      .our-team .team-wrap {
        padding-top: 45px; } }
    .our-team .team-wrap .team-img {
      display: inline-block;
      width: 370px;
      height: 440px;
      padding: 180px 18px 15px 18px;
      margin-bottom: 12px;
      margin-right: 11px;
      overflow: hidden; }
      .our-team .team-wrap .team-img:nth-child(3n) {
        margin-right: 0; }
      @media only screen and (max-width: 1200px) {
        .our-team .team-wrap .team-img {
          width: 32%;
          padding: 200px 12px 12px 12px; } }
      @media only screen and (max-width: 992px) {
        .our-team .team-wrap .team-img {
          width: 45%;
          padding: 220px 18px 15px 18px; }
          .our-team .team-wrap .team-img:nth-child(2n) {
            margin-right: 0; }
          .our-team .team-wrap .team-img:nth-child(3n) {
            margin-right: 11px; } }
      @media only screen and (max-width: 767px) {
        .our-team .team-wrap .team-img {
          padding-top: 220px;
          width: 100%;
          max-width: 370px; } }
      .our-team .team-wrap .team-img-1 {
        background: url(../img/team-1.jpg) no-repeat top center;
        background-size: cover; }
        .our-team .team-wrap .team-img-1:hover .team-hover {
          opacity: 1; }
      .our-team .team-wrap .team-img-2 {
        background: url(../img/team-2.jpg) no-repeat top center;
        background-size: cover; }
        .our-team .team-wrap .team-img-2:hover .team-hover {
          opacity: 1; }
      .our-team .team-wrap .team-img-3 {
        background: url(../img/team-3.jpg) no-repeat top center;
        background-size: cover; }
        .our-team .team-wrap .team-img-3:hover .team-hover {
          opacity: 1; }
      .our-team .team-wrap .team-img-4 {
        background: url(../img/team-4.jpg) no-repeat top center;
        background-size: cover; }
        .our-team .team-wrap .team-img-4:hover .team-hover {
          opacity: 1; }
      .our-team .team-wrap .team-img-5 {
        background: url(../img/team-5.jpg) no-repeat top center;
        background-size: cover; }
        .our-team .team-wrap .team-img-5:hover .team-hover {
          opacity: 1; }
      .our-team .team-wrap .team-img-6 {
        background: url(../img/team-1.jpg) no-repeat top center;
        background-size: cover; }
        .our-team .team-wrap .team-img-6:hover .team-hover {
          opacity: 1; }
    .our-team .team-wrap .team-hover {
      opacity: 0;
      position: relative;
      padding: 40px;
      background-color: #70f6eb;
      box-shadow: 3px 6px 16px 0px rgba(20, 20, 21, 0.18);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      @media only screen and (max-width: 1200px) {
        .our-team .team-wrap .team-hover {
          padding: 25px; } }
      @media only screen and (max-width: 992px) {
        .our-team .team-wrap .team-hover {
          opacity: 1;
          padding: 15px; } }
      .our-team .team-wrap .team-hover:before {
        display: block;
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 20px solid #70f6eb;
        top: -20px;
        left: 20px; }
      .our-team .team-wrap .team-hover h3 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 20px;
        letter-spacing: 0em;
        text-align: left; }
        .our-team .team-wrap .team-hover h3 i {
          font-size: 14px;
          color: #766f6f;
          font-weight: 400;
          text-transform: none; }
          .our-team .team-wrap .team-hover h3 i:hover {
            color: #766f6f; }
      .our-team .team-wrap .team-hover p {
        text-align: left; }
      .our-team .team-wrap .team-hover .social-wrap {
        text-align: left; }
        .our-team .team-wrap .team-hover .social-wrap i {
          padding-right: 10px; }
          .our-team .team-wrap .team-hover .social-wrap i:hover {
            color: #fff; }

.what-says {
  padding-top: 115px;
  padding-bottom: 130px;
  background-color: #f9fbfb; }
  @media only screen and (max-width: 992px) {
    .what-says {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .what-says .slider-wrap {
    padding-top: 115px; }
    @media only screen and (max-width: 992px) {
      .what-says .slider-wrap {
        padding-top: 40px; } }
    .what-says .slider-wrap .left-slider {
      position: relative;
      text-align: center;
      overflow: hidden; }
      @media only screen and (max-width: 767px) {
        .what-says .slider-wrap .left-slider {
          display: none; } }
      .what-says .slider-wrap .left-slider .left-slider-bg {
        position: absolute;
        background-color: #eff0f2;
        width: 390px;
        height: 360px;
        top: 25px;
        left: 50%;
        margin-left: -195px;
        z-index: 1; }
      .what-says .slider-wrap .left-slider img {
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        z-index: 2;
        position: relative; }
      .what-says .slider-wrap .left-slider .input-wrap {
        padding-top: 40px; }
        .what-says .slider-wrap .left-slider .input-wrap input[type="radio"] {
          display: none; }
          .what-says .slider-wrap .left-slider .input-wrap input[type="radio"] + .whats-says-label:before {
            content: '';
            display: inline-block;
            border-radius: 3px;
            background-color: #d0d0d0;
            width: 10px;
            height: 10px;
            -webkit-transition: all 250ms ease;
            transition: all 250ms ease;
            margin: 2px;
            cursor: pointer; }
          .what-says .slider-wrap .left-slider .input-wrap input[type="radio"]:checked + .whats-says-label:before {
            background-color: #71f6eb; }
    .what-says .slider-wrap .right-slider {
      text-align: center;
      background-color: #eaebed;
      margin-top: 25px;
      padding: 90px 80px 68px 80px; }
      @media only screen and (max-width: 767px) {
        .what-says .slider-wrap .right-slider {
          padding: 20px; } }
      .what-says .slider-wrap .right-slider h3 {
        margin-top: 0; }
        .what-says .slider-wrap .right-slider h3 i {
          font-size: 14px;
          color: #766f6f;
          font-weight: 400; }
      .what-says .slider-wrap .right-slider i {
        color: #f2da3b; }
    .what-says .slider-wrap .arrows-wrap {
      padding-top: 30px;
      float: right; }
      @media only screen and (max-width: 992px) {
        .what-says .slider-wrap .arrows-wrap {
          text-align: center;
          float: none; } }
      .what-says .slider-wrap .arrows-wrap .left-arrow-wrap,
      .what-says .slider-wrap .arrows-wrap .right-arrow-wrap {
        display: inline-block;
        position: relative;
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 4px 7px 11px 0px rgba(20, 20, 21, 0.05);
        width: 53px;
        height: 53px;
        border: none; }
        .what-says .slider-wrap .arrows-wrap .left-arrow-wrap:before,
        .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:before {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -8px;
          left: 50%;
          margin-left: -3px;
          width: 7px;
          height: 8px;
          background-color: #b2b2b2;
          -webkit-transform: skewX(-40deg);
                  transform: skewX(-40deg); }
        .what-says .slider-wrap .arrows-wrap .left-arrow-wrap:after,
        .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:after {
          display: block;
          content: '';
          position: absolute;
          top: 50%;
          margin-top: 0px;
          left: 50%;
          margin-left: -3px;
          width: 7px;
          height: 8px;
          background-color: #b2b2b2;
          -webkit-transform: skewX(40deg);
                  transform: skewX(40deg); }
        .what-says .slider-wrap .arrows-wrap .left-arrow-wrap:disabled,
        .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:disabled {
          background-color: #71f6eb; }
          .what-says .slider-wrap .arrows-wrap .left-arrow-wrap:disabled:before, .what-says .slider-wrap .arrows-wrap .left-arrow-wrap:disabled:after,
          .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:disabled:before,
          .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:disabled:after {
            background-color: #25514d; }
      .what-says .slider-wrap .arrows-wrap .right-arrow-wrap {
        margin-left: 25px; }
        .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:before {
          -webkit-transform: skewX(40deg);
                  transform: skewX(40deg); }
        .what-says .slider-wrap .arrows-wrap .right-arrow-wrap:after {
          -webkit-transform: skewX(-40deg);
                  transform: skewX(-40deg); }

.brands {
  min-height: 390px;
  background: url(../img/brands.png) no-repeat center;
  background-size: auto; }
  @media only screen and (max-width: 767px) {
    .brands {
      min-height: 200px; } }

.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url(../img/bg-contacts.jpg) no-repeat center;
  background-size: cover; }
  @media only screen and (max-width: 992px) {
    .contacts {
      padding-top: 60px;
      padding-bottom: 60px; } }
  .contacts .form-wrap {
    background-color: rgba(2, 22, 35, 0.71);
    padding: 30px;
    padding-bottom: 50px; }
    .contacts .form-wrap input,
    .contacts .form-wrap textarea {
      background: none;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      font-family: "Raleway";
      color: #ffffff;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      text-align: left;
      padding-left: 5px;
      margin-top: 20px;
      width: 100%; }
      .contacts .form-wrap input::-webkit-input-placeholder,
      .contacts .form-wrap textarea::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .contacts .form-wrap input:-ms-input-placeholder,
      .contacts .form-wrap textarea:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.7); }
      .contacts .form-wrap input::placeholder,
      .contacts .form-wrap textarea::placeholder {
        color: rgba(255, 255, 255, 0.7); }
    .contacts .form-wrap input {
      height: 40px; }
      .contacts .form-wrap input[type="submit"] {
        color: #214744;
        font-family: "Montserrat";
        font-weight: regular;
        font-size: 18px;
        width: 245px;
        height: 55px;
        background-color: #6eeee4;
        text-align: center;
        text-transform: uppercase;
        border: none; }
    .contacts .form-wrap textarea {
      height: 115px;
      resize: none; }
  .contacts .location-wrap {
    background-color: rgba(2, 22, 35, 0.71);
    padding: 22px;
    color: rgba(255, 255, 255, 0.7); }
    .contacts .location-wrap p {
      padding-left: 8px; }
    .contacts .location-wrap iframe {
      width: 100%;
      height: 209px; }
    @media only screen and (max-width: 767px) {
      .contacts .location-wrap {
        text-align: center; } }

.main-footer {
  padding-top: 85px;
  padding-bottom: 85px;
  text-align: center;
  background-color: #262b2e; }
  .main-footer p {
    color: rgba(255, 255, 255, 0.7); }
    .main-footer p span {
      text-transform: uppercase;
      color: #fff; }
  .main-footer .social {
    display: inline-block;
    width: 46px;
    height: 40px;
    text-align: center;
    background-color: #424648;
    color: #bbb8b9;
    font-size: 24px;
    line-height: 40px;
    margin-left: 5px;
    margin-bottom: 30px; }
    .main-footer .social:hover {
      background-color: #6eeee4;
      color: #070e0d; }
