h2 {
	font-family: "Montserrat";
	font-weight: bold;
	font-size: 38px;
	line-height: 28px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 17px;
	margin-bottom: 17px;
}

h3 {
	font-family: "Merriweather";
	font-size: 20px;
	line-height: 29px;
	font-weight: 00;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

h4 {
	font-family: "Merriweather";
	font-weight: 400;
	font-size: 18px;
	color: rgb(94, 95, 95);
	line-height: 28px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	margin-top: 17px;
	margin-bottom: 17px;
}

p {
	font-family: "Raleway";
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
}