.featured-works {
	padding-top: 120px;
	padding-bottom: 115px;

	@media #{$m} {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.img-wrap {
		padding-top: 100px;
		text-align: center;

		img {
			margin-right: 15px;
			padding-bottom: 15px;

			&:nth-child(3n) {
				margin-right: 0;
			}
			
			@media #{$lg} {
				width: 32%;
			}

			@media #{$m} {
				width: 40%;

				&:nth-child(3) {
					margin-right: 15px;
				}

				&:nth-child(2),
				&:nth-child(4) {
					margin-right: 0;
				}
			}	

			@media #{$sm} {
				width: 45%;
				margin-right: 10px;
				padding-bottom: 10px;
				&:nth-child(3) {
					margin-right: 10px;
				}

				&:nth-child(2),
				&:nth-child(4) {
					margin-right: 0;
				}
			}	
		}

		@media #{$m} {
			padding-top: 50px;
		}
	}
}