$lg: "only screen and (max-width : 1200px)";
$m: "only screen and (max-width : 992px)";
$sm: "only screen and (max-width : 768px)";
$xs: "only screen and (max-width : 480px)";
$xxs: "only screen and (max-width : 320px)";